.app {
  /* max-width: 1441px; */
  color: #6C757D;
}

@media (max-width: 1441px) {
  .app {
    padding: 0 !important;
    margin: 0 !important;
  }
}

/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/